<?xml version="1.0"?>
<launch> 


    <node name="gazebo_ref_pub_node" pkg="icpslam" type="gazebo_ref_frame_pub" output="screen">
        <param name="parent_frame" type="string" value="map" />
        <param name="child_frame" type="string" value="odom" />
        <param name="robot_frame" type="string" value="base_link" />
		<param name="robot_name" type="string" value="ridgeback_yumi" />
    </node>

</launch>